@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f1f1f1;

    /* 自定义滚动条轨道 */
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    /* 自定义滚动条的滑块 */
    ::-webkit-scrollbar-thumb {
        /* background-color: #888; */
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        border-radius: 8px;
    }

    /* 设置滚动条的宽度 */
    ::-webkit-scrollbar {
        width: 8px;
    }


}